{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Highscore - Projekt{% endblock %}

{% block body %}

<form action="{{ path('project_edit', {'id' : id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <input type="submit"/>
</form>

{% endblock %}
