{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Highscore - Home{% endblock %}

{% block body %}
    <h1>Bootstrap starter template</h1>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
    <button class="btn" type="submit">
        Button
    </button>
{% endblock %}
