{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Highscore - Login{% endblock %}

{% block body %}
    {% if error|default(null) %}
        <div class="alert alert-error">
            {{ error.message }}
        </div>
    {% endif %}



    <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
        <div class="control-group">
           <label for="username" class="control-label">Username:</label>
           <div class="controls">
               <input type="text" id="username" name="_username" value="{{ last_username|default("") }}" />
           </div>
        </div>

        <div class="control-group">
            <label for="password" class="control-label">Password:</label>
            <div class="controls">
                <input type="password" id="password" name="_password" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
    </form>
{% endblock %}
